@using ShopMyPham.Models;
@model List<DonHang>
@{
    ViewBag.Title = "HoaDonThanhToan";
    Layout = "~/Views/_LayoutTrangAd.cshtml";
}

<div class="table-responsive">
    <select style="display:inline-block;height:33px;" id="ngay" class="dropdown" name="ngay">
        <option value="#">Chọn Ngày</option>
        @foreach (var item in ViewBag.ItemDay.Items)
        {
            <option value="@item">@item</option>

        }
    </select>
    <select style="display:inline-block;height:33px;" id="thang" class="dropdown" name="thang">
        <option value="#">Chọn Tháng</option>

        @foreach (var item in ViewBag.ItemMonth.Items)
        {
            <option value="@item">@item</option>

        }
    </select>

    <select style="display:inline-block;height:33px;" id="nam" class="dropdown" name="nam">
        <option value="#">Chọn Năm</option>
        @foreach (var item in ViewBag.ItemYear.Items)
        {
            <option value="@item">@item</option>

        }
    </select>

    <br />
    <input type="submit" class="btnthongke" onclick="HoaDon()" style="width: 283px;background-color: #44b8d2; height: 35px" value="Xem Thống Kê" />
    <br>
    <h2>Hóa Đơn Ngày @Session["day"] Tháng  @Session["month"] Năm @Session["year"]</h2>
    <hr />
    <table class="table thongkehoadon">
        <thead>
            <tr>
                <th>Mã hóa đơn</th>
                <th>Tên khách hàng</th>
                <th>Điện thoại</th>
                <th>Địa chỉ</th>
                <th>Đơn giá</th>
                <th>Ngày đặt</th>
                <th>Ngày giao</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


            <tr>
                <td>@item.MaDonHang</td>
                <td>@item.TenNguoiNhan</td>
                <td>@item.DienThoaiNhan</td>
                <td>@item.DiaChiGH</td>
                <td>@string.Format("{0:0,0}", item.TriGia)</td>
                <td>@item.NgayDat</td>
                <td>@item.NgayGiao</td>
                @if (item.TinhTrangGiaoHang == true)
                {
                    <td><button class="button">@item.TinhTrangGiaoHang</button></td>

                }
                else
                {
                    <td><button class="button button3">@item.TinhTrangGiaoHang</button></td>
                }
                <td>
                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm" data-original-title="" title="">
                        <a href="@Url.Action("Edit","ThongKe")">
                            <i class="material-icons">edit</i>
                        </a>
                    </button>
                </td>
               
            </tr>
            }
        
        </tbody>

    </table>
</div>






